{% extends 'crm/base.html' %}
{% load static %}
{% block content %}
    <body>
    <html>
            {% if user.is_authenticated %}
                <div class="page-container">

                    <h2 class="top-menu">Hello {{ user.username }},</h2>
                    <p>Please choose from below options.</p>

                </div>
            {% endif %}
            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/Course_photo.jpg" %}" alt="course_photo"/>
                                        <div class="caption">
                                            <h2>Golf Courses</h2>
                                            <p>Courses utilized by Frenemies</p>
                                            <p><a class="btn btn-primary" href="{% url 'crm:golf_course_list' %}"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/scorecard.jpg" %}" alt="scorecard"/>
                                        <div class="caption">
                                            <h2>My Scores</h2>
                                            <p>Less is more!</p>
                                            <p><a class="btn btn-primary" href="{% url 'crm:score_list' %}"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </html>
    </body>
{% endblock %}